spring:
  application:
    name: spectre-chat

  datasource:
    url: jdbc:postgresql://localhost:5432/spectre_chat
    username: spectre_user
    password: spectre_admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8090
